<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <!-- NAVBAR -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Placement Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home |</a>
                                                <li class="nav-item">                            <a class="nav-link active" aria-current="page" href="/history">History |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- ABout Company -->
     <div class="card">
        <div class="card-header">
            <h2 class="card-title">About {{company.company_name}}</h2>
        </div>
  <div class="card-body">
    <p>Company ID: {{company.company_id}}</p>
    <p>Company Name: {{company.company_name}}</p>
    <p>Company Email: {{company.email}}</p>
    <p>HR Contact: {{company.hr_contact}}</p>
    <p>Company Website: {{company.website}}</p>
    <p>Company Status: {{company.approval_status}}</p>
    <p>Registered Date: {{company.registered_at.strftime("%d %b %Y")}}</p>
  </div>
</div>
                <!-- ── ONGOING DRIVES ── -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>Ongoing Drives</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Drive Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in drives %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{d.job_title}}</td>
                            <td>{{d.company.company_name}}</td>
                            <td>{{d.company.email}}</td>
                            <td>{{d.deadline.strftime("%d %b %Y")}}</td>
                            <td>{{d.status}}</td>
                            <td>
                                <a href="/dashboard/drive/{{d.drive_id}}" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
               <!-- ── Pending DRIVES ── -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>Pending Drives</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Drive Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in pending_drives %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{d.job_title}}</td>
                            <td>{{d.company.company_name}}</td>
                            <td>{{d.company.email}}</td>
                            <td>{{d.deadline.strftime("%d %b %Y")}}</td>
                            <td>{{d.status}}</td>
                            <td>
                                <a href="/dashboard/drive/{{d.drive_id}}" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

                       <!-- ── Old DRIVES ── -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>Old Drives</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Drive Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in old_drives %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{d.job_title}}</td>
                            <td>{{d.company.company_name}}</td>
                            <td>{{d.company.email}}</td>
                            <td>{{d.status}}</td>
                            <td>
                                <a href="/dashboard/drive/{{d.drive_id}}" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="text-center">
    <a href="/dashboard/company" class="btn btn-info">Back to Dashboard</a>
    <a href="/admin/company/edit/{{ company.company_id }}" class="btn btn-info">Edit</a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>